---
import BaseLayout from '../layouts/BaseLayout.astro';
import Ressource from '../components/Ressource.jsx'
import { renderMarkdown } from "@astrojs/markdown-support";


const {SNOWPACK_PUBLIC_FASTAPI_URL} = __SNOWPACK_ENV__;

const fetchLinks = async () => {
  const response = await fetch(`${SNOWPACK_PUBLIC_FASTAPI_URL}/links?_sort=created_at:DESC&_limit=5`)
  const links = await response.json()
  return links
}

const fetchNotes = async () => {
  const response = await fetch(`${SNOWPACK_PUBLIC_FASTAPI_URL}/notes?_sort=created_at:DESC&_limit=5`)
  const links = await response.json()
  return links
}

const data = await Promise.all([fetchLinks(), fetchNotes()]);
const links = data[0];
const notes = data[1];

const contents = links.concat(notes)
contents.sort((x, y) => new Date(y.created_at) - new Date(x.created_at))
const firsts = contents.slice(0, 5)
for (const c of firsts) {
  const {content} = await renderMarkdown(c.description)
  c.description_md = { __html : content }
}
const nextDt = new Date(contents[5].created_at)
const nextYear = nextDt.getFullYear()
const nextMonth = nextDt.getMonth() + 1
---
<BaseLayout title="Blog">
  <section class="px-2 mt-8 max-w-screen-md">
    {firsts.map(c => (
      <div class="">
        <Ressource content={c}/>
      </div>
    ))}
  </section>
  <section class="px-2 mt-8 max-w-screen-md">
    {nextYear}-{nextMonth}
  </section>
</BaseLayout>